@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.create-layout {
  @apply flex flex-row bg-gray-200 border-2 justify-between items-stretch border-dashed border-gray-200 rounded-tl-none rounded-md p-5 hover:border-2 hover:border-dashed hover:duration-300 duration-1000 lg:px-1 relative shadow-md;
}

.create-layout-pure {
  @apply flex flex-row justify-between items-stretch relative;
}

.create-section {
  @apply flex flex-col justify-between items-stretch min-h-[200px] w-full border border-dashed border-gray-400 p-1;
}

.layout-icons {
  @apply h-6 w-6 stroke-current cursor-pointer duration-150;
}

.section-icons {
  @apply h-5 w-6 stroke-current cursor-pointer;
}

.search-select-icons {
  @apply h-4 w-5 stroke-current cursor-pointer;
}

.section-header {
  @apply absolute -mt-5 bg-[#e1e1e1] flex flex-row justify-end items-end p-2 text-sm gap-1 text-gray-500 shadow-md rounded-md right-2;
}

.section-tag {
  @apply absolute -mt-5 bg-[#e1e1e1] hidden flex-row justify-end items-end p-2 text-sm gap-1 text-gray-500 shadow-md rounded-md left-2  group-hover:flex;
}

.main-body {
  @apply absolute inset-0 bg-gray-100 z-10 h-full lg:overflow-hidden overflow-x-hidden
}

.top-nav {
  @apply flex flex-row w-full bg-white justify-between items-center text-gray-500 border-b border-[rgb(229,229,229)] shadow-md z-10 rounded-b-xl mb-5 p-5
}

.svg-trash svg path {
  fill: green !important;
}

.svg-trash svg text {
  fill: green !important;
}

/* This file is for your main application CSS */
:root {
  --transparent: transparent;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--transparent) var(--transparent);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 1px;
}

*::-webkit-scrollbar-track {
  background: var(--transparent);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--transparent);
  border-radius: 14px;
  border: 3px solid var(--transparent);
}
