@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.create-section {
  @apply flex flex-row bg-gray-200 border-2 justify-between items-stretch border-dashed border-gray-200 rounded-tl-none rounded-md p-5 hover:border-2 hover:border-dashed hover:duration-300 duration-1000 lg:px-1 relative shadow-md;
}

.create-sub-section {
  @apply flex flex-col bg-white border justify-between items-stretch min-h-[200px] w-full;
}

.layout-icons {
  @apply h-6 w-6 stroke-current cursor-pointer;
}

.svg-trash svg path {
  fill: green !important;
}

.svg-trash svg text{
  fill: green !important;
}

/* This file is for your main application CSS */
:root {
  --transparent: transparent;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--transparent) var(--transparent);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 1px;
}

*::-webkit-scrollbar-track {
  background: var(--transparent);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--transparent);
  border-radius: 14px;
  border: 3px solid var(--transparent);
}
